:root {
    --primary-color: green;
    --secondary-color: rgb(74, 77, 75);
    --tertiary-color: rgb(202, 238, 208);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.section-heading {
    font-size: x-large;

    border-right: 5px solid;
    padding: 30px;
    margin: 0 100px 0 100px;
    color: var(--secondary-color);
}

/* header and nav */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/259448_hi-tech_rabochij-stol_internet_oboi_super_1920x1080_www.GdeFon.ru_.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--primary-color);
}


a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: larger;
    font-weight: bolder;
}

header nav {
    margin: 7px 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li a {
    padding: 10px 20px;
    font-size: larger;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a:hover {
    color: var(--tertiary-color);
}


/* Hero */
.hero {
    background-image: url(../images/259448_hi-tech_rabochij-stol_internet_oboi_super_1920x1080_www.GdeFon.ru_.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
    background-position: 80%;

}

/* About Me */

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

section article {
    padding: 20px;
    width: 40%;
    margin: 1%;
    align-items: center;
    flex: 2 50%;
    
}

section article p {
    margin: 5px 0 10px 0;
}

/* Work */

.work {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 2 50%;
    align-items: center;
    padding: 20px;
    width: 40%;
    margin: 1%;
    padding-right: 100px;
    
}

.work-box {
    padding: 5px;
    border: solid 3px;
    width: 40%;
    margin: 1%;
    border-radius: 10px;
    flex-grow: 1;
    border-color: var(--tertiary-color); 
    display: flex;
    height: 75px;
    justify-content: left;
    align-items: flex-end;
}

.work-box div {
    background-color: rgba(202,238,208,0.75);
    padding: 10px;
    border: solid 1px var(--primary-color);
    border-radius: 10px;

}

.work-section {
    margin-left: 75px;
    background-color: var(--secondary-color);
}

.work-heading {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.run-buddy{
    background-image: url(../images/hero-bg.jpg.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.code-refractor- {
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-size: cover;
    background-position: center;
}

.pre-work  {
    background-image: url(../images/TOLG_Digital_Artwork.jpg);
    background-size: cover;
    background-position: center;
}

/* Contact Me */

.contact-heading {
    margin-left: 70px;
}

section div ul li a:hover {
    background-color: var(--primary-color);
    border-radius: 10px;
}
.contact-info {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.contact-info li {
    padding: 50px;
}

.contact-info li a {
    font-size: x-large;
}

/*footer*/

footer {
    background-color: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}


@media screen and (max-width: 1060px) {


    .work {
        flex: 2 70%;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        align-items: center;
    }

    article {
        text-align: center;
        flex: 2 65%;
    }

    p {
        font-size: larger;
    }

    .work-section {
        margin-left: 0px;
    }

    section {
        display: flex;
        justify-content: center;
     
    }

    a {
        font-size: 20px;
    }

    .work {
        padding-right: 20px;
    }

    .contact-heading {
        margin: 0px 20px;
    }

    .section-heading {
        padding-bottom: 5px;
        padding-top: 20px;
        border-right: 0px;
        border-bottom: solid 5px;
    }
}

@media screen and (max-width: 768px) {
    
    .hero {
        height: 100px;
    }

    .contact-info li {
        padding: 10px;
    }

    .work-box {
        flex: 1 70%;
        height: 75px;
    }

    .run-buddy {
        height: 150px;
    }
}

@media screen and (max-width: 575px) {
    
    .contact-info ul {
        justify-content: center;
    }
}