:root {
    --primary-color: green;
    --secondary-color: rgb(74, 77, 75);
    --tertiary-color: rgb(202, 238, 208);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.section-heading {
    font-size: x-large;
    border-right: 5px solid;
    padding: 30px;
    margin: 0 100px 0 100px;
    color: var(--secondary-color);
}

/* header and nav */

header {
    padding: 20px 35px;
    background-color: ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/259448_hi-tech_rabochij-stol_internet_oboi_super_1920x1080_www.GdeFon.ru_.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: larger;
    font-weight: bolder;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: larger;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a:hover {
    color: var(--tertiary-color);
}



.hero {
    background-image: url(../images/259448_hi-tech_rabochij-stol_internet_oboi_super_1920x1080_www.GdeFon.ru_.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
    background-position: 80%;

}

/* About Me */

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

section article {
    padding: 20px;
    width: 40%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 70%;
    
}

section article p {
    margin: 5px 0 10px 0;
}

/* Work */

.work {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 2 70%;
    align-items: center;
    padding: 20px;
    width: 40%;
    margin: 1%;
    padding-right: 100px;
}


.work-box {
    padding: 20px;
    border: solid 3px;
    width: 40%;
    margin: 1%;
    border-radius: 10px;
    flex-grow: 1;
    border-color: var(--tertiary-color); 
    display: flex;
    justify-items: end;
}

.work-section {
    margin-left: 75px;
    background-color: var(--secondary-color);
}

.work-heading {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.run-buddy{
    background-image: url(../images/hero-bg.jpg.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.code-refractor- {
    background-image: url(../images/digital-marketing-meeting.jpg);
    height: 50px;
    background-size: cover;
    background-position: center;
}

.pre-work  {
    background-image: ;
}